# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/

# Build artifacts
build/bin/*
build/completions/bash/*
build/completions/fish/*
build/completions/zsh/*
build/manpages/man1/*
build/mantemp/*
build/.*-stamp

# Go workspace file
go.work
go.work.sum

# env file
.env